<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wisdom & Experience Life</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <section th:fragment="modal-summary-share">
    <!-- ======= Modal Summary Section ======= -->
    <div class="modal fade" id="modal-summary-container" tabindex="-1" role="dialog" 
                            aria-labelledby="modalSummaryContainer" aria-hidden="true">
      <div class="modal-box">
        <div class="modal-dialog modal-box-center">
          <div class="modal-content">
            <div class="modal-header">Summary</div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Summary -->

    <!-- ======= Modal Share Section ======= -->
    <div class="modal fade" id="modal-share-container" tabindex="-1" role="dialog" 
                            aria-labelledby="modalShareContainer" aria-hidden="true">
      <div class="modal-box">
        <div class="modal-dialog modal-box-center">
          <div class="modal-content">
            <div class="modal-header">Share This</div>
            <div class="modal-body">
              <div class="sharing-items">
                  <a target="_blank" class="button facebook" title="Share on Facebook" 
                     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    <p>Facebook</p>
                  </a>
                  <a target="_blank" class="button twitter" title="Share on Twitter" 
                     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                    <span><i class="fa fa-twitter" aria-hidden="true"></i></i></span>
                    <p>Twitter</p>
                  </a>
                  <a target="_blank" class="button linkedin" title="Share on Linkedin" 
                     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                    <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    <p>Linkedin</p>
                  </a>
                  <a target="_blank" class="button google-plus" title="Share on Google +" 
                     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                    <span><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                    <p>Google +</p>
                  </a>
                  <a target="_blank" class="button pinterest" title="Share on Pinterest" 
                     onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;">
                    <span><i class="fa fa-pinterest" aria-hidden="true"></i></span>
                    <p>Pinterest</p>
                  </a>  
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal Share -->
  </section>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>